#map1 {
    height: 100vw;
    max-height:60vh;
    width: 100%;
    margin:auto;
}
.background {
    background-color: #282c34;
    min-height: 90vh;
    font-size: calc(10px + 1vmin);
    color: white;
    position: fixed;
    width:100%;
    z-index:-10;
}
.footer {
    position: fixed;
    bottom:0px;
    padding-bottom:1em;
    padding-top:0.5em;
    width: 100%;
    background-color: #282c34;
}
.back {
    z-index:-9999;
}
.hide-overflow {
    overflow:hidden;
    padding:0.5em;
}
.centered {
    margin:auto;
}
.fixed-wide{
    margin:auto;
    width:25vw;
}