#map1 {
    height: 100vw;
    max-height:60vh;
    width: 100%;
    margin:auto;
}
.background {
    background-color: #282c34;
    min-height: 90vh;
    font-size: calc(10px + 2vmin);
    color: white;
}
.footer {
    position: fixed;
    bottom:0px;
    padding-bottom:1em;
    width: 100%;
}